[Unit]
Description=drove-gateway - traffic gateway for instances on drove cluster
After=network.target
StartLimitIntervalSec=0
[Service]
LimitNOFILE=65000
LimitNPROC=65000
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/drove-gateway -f /etc/drove-gateway/drove-gateway.toml 2>&1 | logger -t drove-gateway

[Install]
WantedBy=multi-user.target

