# drove-gateway listening port
address = "127.0.0.1"
port = "6000"

#port_use_tls = true
#port_tls_certfile = ""
#port_tls_keyfile = ""

# X-Proxy header, defaults to hostname
xproxy = ""


# Nginx
#nginxplusapiaddr="127.0.0.1"
nginx_config = "./nginx-test.conf"
nginx_template = "./nginx-header.tmpl"
nginx_cmd = "nginx" # optionally "openresty" or "docker exec nginx nginx"
nginx_ignore_check = true # optionally disable nginx config test. Health check will always show OK.

#nginxplusapiaddr = "10.57.11.218:2222"
maxfailsupstream = 0
failtimeoutupstream = "1s"
slowstartupstream = "0s"
event_refresh_interval_sec = 5

# Statsd settings
#[statsd]
#addr = "10.57.8.171:8125" # optional for statistics
#namespace = "drove-gateway.my_mesos_cluster"
#sample_rate = 100


# Drove API
[[namespaces]]
name = "stage1"
drove = ["https://localhost:8080"] # add all HA cluster nodes in priority order.
user = "" # leave empty if no auth is required.
pass = ""
leader_vhost = "drove.ssdev.stage1"
# drove-gateway realm, set this if you want to be able to filter your apps (e.g. when you have different loadbalancers which should expose different apps)
# Put your subdomain here. It will be used to match the subdomain of the exposed apps
realm = "blah1.xxx.stage1"

[[namespaces]]
name = "stage2"
drove = ["https://localhost:8080"] # add all HA cluster nodes in priority order.
user = "" # leave empty if no auth is required.
pass = ""
leader_vhost = "drove.ssdev.stage2"
# drove-gateway realm, set this if you want to be able to filter your apps (e.g. when you have different loadbalancers which should expose different apps)
# Put your subdomain here. It will be used to match the subdomain of the exposed apps
realm = "blah2.xxx.stage2"
